* {
    font-family: "montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #333
}

.login-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(350deg, #52E5E7 0%, #130CB7 100%);
    transition: 0.4s;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.login-form h1 {
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    color:white;
}

.txtb {
    display: block;
    box-sizing: border-box;
    width: 240px;
    background: #34495e;
    border: 1px solid #1B1464;
    padding: 10px 20px;
    color: #ffa502;
    outline: none;
    margin: 10px 0;
    border-radius: 6px;
    text-align: center;
}

#yzm {
    display: block;
    box-sizing: border-box;
    width: 128px;
    background: #34495e;
    border: 1px solid #1B1464;
    padding: 10px 20px;
    color: #ffa502;
    outline: none;
    margin: 10px 0;
    border-radius: 6px;
    text-align: center;
}

 #yzm #Image1 {
    vertical-align: middle;
    }

#Image1 {
    margin-top:5px;
    margin-left:-122px;
    border-radius: 6px;
    cursor:pointer;
}

table{
    width:240px;
}

table tr{
    width:240px;
}

table td{
  width:120px;
}

#btn{
    width: 240px;
    background: #34495e;
    border: 1px solid #1B1464;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white;
}

a {
    position: absolute;
    text-align: center;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d63031;
}